@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Lobster+Two:ital,wght@1,700&family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Teko:wght@500&family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
/** Dosis - Pacifico- Roboto- Dancing Script - Raleway- Lobster Two- Bebas Neue**/
.bg-bej {
  background-color: #6a9acc;
}
.bg-light {
  background-color: #e6dcd9;
}

.ml-2 {
  margin-left: 1rem;
}

/** MIXINS **/
.btn {
  background-color: #e6dcd9;
  padding: 1.3rem 2rem;
  color: rgb(42, 42, 72);
  font-size: 1.6rem;
  border: none;
  border-radius: 1px;
  outline: none;
  letter-spacing: 1px;
  transition: all 0.5s;
}
@media (max-width: 768px) {
  .btn {
    padding: 1rem 1.5rem !important;
  }
}
.btn-primary {
  border-radius: 10px 0px 0px 0px;
  padding: 1.3rem 2.9rem;
}
.btn.ml-2 {
  border-radius: 0px 0px 10px 0px;
}
.btn:hover {
  background-color: rgb(42, 42, 72);
  color: #e6dcd9;
}
.btn-primary {
  background-color: rgb(42, 42, 72);
  color: #e6dcd9;
}
.btn-primary:hover {
  background-color: #e6dcd9;
  color: rgb(42, 42, 72);
}

/** RATING **/
.rating {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 20px;
  width: 3rem;
  height: 3rem;
  background-color: rgb(115, 179, 193);
  opacity: 0;
  z-index: 5;
  line-height: 3rem;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Lobster Two", sans-serif;
  transition: all 0.5s;
  color: rgb(42, 42, 72);
}

/** REVIEW **/
.review {
  padding: 5rem;
  font-size: 1.3rem;
  line-height: 1.2rem;
  margin-left: 10rem;
  border-left: 2px solid rgb(143, 177, 185);
  transform: skew(-29deg);
  font-family: "Tilt Neon", sans-serif;
  color: #ffffff;
}
@media (max-width: 992px) {
  .review {
    transform: none;
    border: none;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .review {
    transform: none;
  }
}
@media (max-width: 576px) {
  .review {
    transform: none;
  }
}
.review > * {
  transform: skew(29deg);
}
@media (max-width: 992px) {
  .review > * {
    transform: none;
  }
}
@media (max-width: 768px) {
  .review > * {
    transform: none;
  }
}
@media (max-width: 576px) {
  .review > * {
    transform: none;
  }
}
.review-title {
  font-size: 3rem;
  padding: 3rem;
  margin-right: 1rem;
  color: #6a9acc;
}
.review-tags {
  font-size: 1.5rem;
  text-transform: uppercase !important;
  color: #ffffff;
}
.review-text {
  margin: 1.2rem;
  line-height: 2rem;
}
.review-text span {
  font-weight: bold;
}
.review-user {
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  .review-user {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .review-user {
    flex-basis: 100%;
  }
}
.review-user img {
  width: 10rem;
  border-radius: 50%;
}
.review-user-detail {
  display: flex;
  margin-right: 2rem;
  margin-left: 1rem;
}
.review-user-detail .name {
  color: #ffd700;
}
.review-user-detail .date {
  color: #ff6b6b;
  margin-left: 2rem;
}
.review-user-platform {
  display: flex;
  margin-right: 2rem;
}
.review-user-platform :not(:last-child) {
  color: #6a9acc;
}
.review-user-platform .fab {
  margin: 0 1rem;
}
.review-user-rating {
  margin-left: 0;
  display: flex;
}
.review-user-rating .checked {
  color: #6a9acc;
}

.card {
  height: 48rem;
}
@media (max-width: 992px) {
  .card {
    height: 43rem;
  }
}
@media (max-width: 768px) {
  .card {
    height: 34rem;
  }
}
@media (max-width: 576px) {
  .card {
    height: 25rem;
  }
}
@media (max-width: 380px) {
  .card {
    height: 17rem;
  }
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  perspective: 2000px;
}
.card .card-front, .card .card-back {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  backface-visibility: hidden;
  transition: all 1s;
}
.card .card-front {
  background-color: rgb(42, 42, 72);
  text-align: center;
}
.card .card-front h4 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #d9e5ea;
  margin-top: 0.5rem;
  line-height: 100%;
  justify-content: center;
}
@media (max-width: 380px) {
  .card .card-front h4 {
    font-size: 1.5rem;
  }
}
.card .card-back {
  background-color: #6a9acc;
  transform: rotateY(180deg);
  display: table;
}
.card .card-back-content {
  display: table-cell;
  vertical-align: middle;
  font-family: "Tilt Neon", sans-serif;
}
.card .card-back-content p {
  font-size: 3rem;
  color: #b0e3e9;
  margin-bottom: 1rem;
}
@media (max-width: 576px) {
  .card .card-back-content p {
    font-size: 2rem;
  }
}
@media (max-width: 380px) {
  .card .card-back-content p {
    font-size: 1.5rem;
  }
}
.card .card-back-content a {
  transition: all 0.5s;
  margin-inline-start: 1rem;
}
@media (max-width: 576px) {
  .card .card-back-content a {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    font-size: 1rem;
  }
}
@media (max-width: 380px) {
  .card .card-back-content a {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    font-size: 0.7rem;
  }
}
.card .card-back-content a:hover {
  color: rgb(42, 42, 72);
}
.card:hover .card-front {
  transform: rotateY(180deg);
}
.card:hover .card-back {
  transform: none;
}

@keyframes mainAni {
  0% {
    opacity: 0;
    transform: translateY(5rem);
    border-top: 0px solid rgb(42, 42, 72);
  }
}
/** GENERAL SETTİNGS **/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
  visibility: hidden;
  opacity: 0;
}

html {
  font-size: 10px;
}

::-moz-placeholder {
  color: #ffffff;
}

::placeholder {
  color: #ffffff;
}

body {
  font-family: "Teko", sans-serif;
  color: #a29d9d;
  background-color: #e6dcd9;
  -webkit-scrollbar: only-of-type;
}

h1 {
  color: rgb(42, 42, 72);
  font-family: "Lobster Two", sans-serif;
  font-size: 6rem;
}
@media (max-width: 992px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-family: "Tilt Neon", sans-serif;
  font-size: 5rem;
  letter-spacing: 0.3rem;
  color: #6666a5;
  font-weight: 300;
}
@media (max-width: 992px) {
  h2 {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 2rem;
}

section {
  padding: 8rem 0;
}
@media (max-width: 576px) {
  section {
    padding-top: 6rem;
  }
}

main {
  overflow: hidden;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.open-menu,
.close-menu {
  font-size: 3rem;
  color: #e6dcd9;
  cursor: pointer;
  display: none;
  transition: all 0.5s;
}
@media (max-width: 992px) {
  .open-menu,
  .close-menu {
    display: block;
  }
}

.open-menu {
  margin-right: 2.1rem;
}

@media (max-width: 992px) {
  .close-menu {
    position: absolute;
    top: 0.5rem;
    right: 1.9rem;
    display: block;
    font-weight: bold;
    font-size: 4rem;
  }
}

.open-menu:hover,
.close-menu:hover {
  color: rgb(42, 42, 72);
}

#check {
  top: 0;
  left: 0;
  position: absolute;
  visibility: hidden;
}

/**------------------------- TOP-HEADER -------------------------**/
.main-header {
  background-image: #6a9acc;
}

.top-header {
  border-bottom: 1px solid rgb(42, 42, 72);
}
@media (max-width: 768px) {
  .top-header {
    border-bottom: 1px solid #6a9acc;
  }
}
.top-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .top-header .container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.top-header .container .top-social-menu {
  display: flex;
}
@media (max-width: 576px) {
  .top-header .container .top-social-menu {
    order: 4;
  }
}
.top-header .container .top-social-menu li {
  margin: 0 1rem;
  padding: 0.7rem;
}
@media (max-width: 992px) {
  .top-header .container .top-social-menu li {
    margin: 0 0.5rem;
    padding: 0.3rem;
  }
}
.top-header .container .top-social-menu li a {
  font-size: 2rem;
  transition: all 0.4s;
}
.top-header .container .top-social-menu li:hover a {
  color: rgb(42, 42, 72);
}
.top-header .container .login-area span {
  display: inline-block;
}
@media (max-width: 768px) {
  .top-header .container .login-area span {
    display: none;
  }
}

/** NAV-HEADER **/
@media (max-width: 992px) {
  .nav-header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    right: -50%;
    width: 50%;
    height: 100vh;
    transition: all 0.5s;
    z-index: 10;
  }
  .nav-header.active {
    right: 0;
  }
}
.nav-header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .nav-header .navbar {
    flex-direction: column;
  }
}
.nav-header .navbar .navbar-list {
  display: flex;
}
@media (max-width: 992px) {
  .nav-header .navbar .navbar-list {
    flex-direction: column;
    width: 100%;
  }
  .nav-header .navbar .navbar-list li:hover {
    border-radius: 0;
  }
}
.nav-header .navbar .navbar-list li {
  line-height: 6rem;
  position: relative;
  transition: all 0.5s;
}
.nav-header .navbar .navbar-list li .dropdown {
  position: absolute;
  width: 130%;
  left: 50%;
  top: 12rem;
  z-index: 10;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}
.nav-header .navbar .navbar-list li .dropdown li {
  line-height: 4rem;
  background: #37375f;
}
.nav-header .navbar .navbar-list li .dropdown li .first {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.nav-header .navbar .navbar-list li .dropdown li .last {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.nav-header .navbar .navbar-list li:hover {
  background-color: rgb(42, 42, 72);
  border-radius: 10px;
}
@media (max-width: 992px) {
  .nav-header .navbar .navbar-list li:hover {
    border-radius: 0;
  }
}
.nav-header .navbar .navbar-list li:hover .dropdown {
  border-radius: 20px;
  opacity: 1;
  top: 6.2rem;
  visibility: visible;
}
.nav-header .navbar .navbar-list li:hover .dropdown li:hover {
  border-radius: 0;
  background-color: rgb(42, 42, 72);
}
.nav-header .navbar .navbar-list li:hover .dropdown .first {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@media (max-width: 992px) {
  .nav-header .navbar .navbar-list li:hover .dropdown .first {
    border-radius: 0;
  }
}
.nav-header .navbar .navbar-list li:hover .dropdown .last {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media (max-width: 992px) {
  .nav-header .navbar .navbar-list li:hover .dropdown .last {
    border-radius: 0;
  }
}
.nav-header .navbar .navbar-list a {
  padding: 0 2rem;
  font-size: 1.6rem;
  letter-spacing: 2px;
}
.nav-header .navbar .navbar-list i {
  color: #e6dcd9;
  font-size: 1.6rem;
  margin-right: 1.2rem;
}
@media (max-width: 992px) {
  .nav-header .navbar .search-area {
    align-self: flex-start;
    margin-left: 1.5rem;
    margin-top: 2rem;
  }
}
.nav-header .navbar .search-area input[type=search],
.nav-header .navbar .search-area button[type=submit] {
  border: none;
  background-color: transparent;
  color: #e6dcd9;
}
.nav-header .navbar .search-area input[type=search] {
  border-bottom: 1px solid rgb(42, 42, 72);
  padding: 0.5rem;
}
.nav-header .navbar .search-area input[type=search]:focus {
  outline: none;
}
.nav-header .navbar .search-area button[type=submit] {
  margin-left: -5rem;
}

/** MAIN SLIDER **/
.main-slider img {
  width: 100%;
  height: 85vh;
}
.main-slider .single-slide {
  position: relative;
}
.main-slider .single-slide .slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(55, 50, 5, 0.6), rgba(0, 0, 0, 0.4));
}
.main-slider .single-slide .slide-overlay .slide-content {
  left: 0;
  position: absolute;
  top: 25%;
  width: 80%;
  border-top: 2px solid rgb(42, 42, 72);
  border-bottom: 2px solid rgb(42, 42, 72);
  padding: 15rem 10rem;
  background: linear-gradient(to right, rgba(23, 21, 21, 0.6), rgba(0, 0, 0, 0.2));
  animation: mainAni 2s ease-out;
}
.main-slider .single-slide .slide-overlay .slide-content h2 {
  color: rgb(218, 236, 240);
}
@media (max-width: 576px) {
  .main-slider .single-slide .slide-overlay .slide-content h2 {
    font-size: 4rem;
    padding: 1rem 2rem;
  }
}
@media (max-width: 992px) {
  .main-slider .single-slide .slide-overlay .slide-content {
    width: 100%;
    padding: 6rem 4rem;
  }
}
@media (max-width: 768px) {
  .main-slider .single-slide .slide-overlay .slide-content {
    width: 100%;
    padding: 3rem 2rem;
  }
}
@media (max-width: 576px) {
  .main-slider .single-slide .slide-overlay .slide-content {
    width: 100%;
    padding: 1rem 0.5rem;
  }
}
.main-slider .single-slide .slide-overlay .slide-content p {
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  color: #e3dbdb;
  letter-spacing: 0.1;
}
@media (max-width: 768px) {
  .main-slider .single-slide .slide-overlay .slide-content p {
    font-size: 1.5rem;
    letter-spacing: 0.2;
  }
}
@media (max-width: 576px) {
  .main-slider .single-slide .slide-overlay .slide-content p {
    font-size: 1.3rem;
    padding: 2rem;
  }
}

/** OWL-CAROUSEL**/
.owl-theme {
  position: relative;
}
.owl-theme .owl-dots {
  position: absolute;
  top: 6rem;
  right: 10%;
  display: flex;
  z-index: 5;
}
@media (max-width: 992px) {
  .owl-theme .owl-dots {
    top: 1.7rem;
  }
}
@media (max-width: 768px) {
  .owl-theme .owl-dots {
    top: 1rem;
  }
}
@media (max-width: 576px) {
  .owl-theme .owl-dots {
    top: 0.5rem;
  }
}
.owl-theme .owl-dots .owl-dot {
  display: inline;
  width: 2rem;
  height: 3rem;
  text-align: center;
  margin-right: 1rem;
  background-color: transparent;
  border-radius: 4rem;
  transition: all 0.5s;
  color: #ffffff;
}
.owl-theme .owl-dots .owl-dot.active, .owl-theme .owl-dots .owl-dot:hover {
  color: rgb(42, 42, 72);
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: transparent;
}
.owl-theme .owl-dots .owl-dot span {
  font-size: 2rem;
  font-family: "Lobster Two", sans-serif;
  background-color: transparent;
}

/**------------------------------------------------- LATEST_NEWS --------------------------------------------------- **/
.latest-news {
  display: flex;
  align-items: center;
  background-color: rgb(42, 42, 72);
  height: 7rem;
}
@media (max-width: 768px) {
  .latest-news {
    flex-direction: column;
  }
}
.latest-news-title {
  text-transform: uppercase;
  font-family: "Tilt Neon", sans-serif;
  align-items: center;
  flex-basis: 20%;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  color: rgb(230, 236, 240);
}
@media (max-width: 768px) {
  .latest-news-title {
    font-size: 2rem;
    margin: 0.5rem 0;
  }
}
.latest-news-content {
  flex-basis: 80%;
  background-color: #6a9acc;
  color: #e6dcd9;
  height: 100%;
  text-align: center;
  align-items: center;
}
.latest-news-content .news-ticker {
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 7rem;
  font-family: "Raleway", sans-serif;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .latest-news-content .news-ticker {
    line-height: 4rem;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 0.7rem;
  }
}
@media (max-width: 576px) {
  .latest-news-content .news-ticker {
    line-height: 3rem;
    height: 100%;
    margin-top: 1.3rem;
  }
}
.latest-news-content .news-ticker p {
  font-size: 1.4rem;
}

.badge {
  border: none;
  padding: 1rem 2.5rem;
  font-size: 2rem;
  font-family: "Tilt Neon", sans-serif;
  margin-left: 5rem;
  margin-right: 1.5rem;
  letter-spacing: 0.3rem;
  background-color: rgb(42, 42, 72);
  border-radius: 3px;
  color: #ffffff;
}

/**---------------- RECENT-GAME ------------------**/
.recent-tours {
  background-color: #e6dcd9;
}
.recent-tours h2 {
  font-family: "Tilt Neon", sans-serif;
  font-weight: 600;
  color: rgb(42, 42, 72);
  text-align: center;
  margin-bottom: 5rem;
}
@media (max-width: 576px) {
  .recent-tours h2 {
    margin: 0;
  }
}
.recent-tours-content {
  font-family: "Tilt Neon", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 4rem;
  grid-column-gap: 4rem;
  grid-template-areas: "item-1  item-1  item-1  item-2" "item-3 item-4 item-5 item-6";
}
@media (max-width: 992px) {
  .recent-tours-content {
    padding: 0 2rem !important;
  }
}
.recent-tours-content .recent-tour-1 {
  grid-area: item-1;
}
.recent-tours-content .recent-tour-2 {
  grid-area: item-2;
}
.recent-tours-content .recent-tour-3 {
  grid-area: item-3;
}
.recent-tours-content .recent-tour-4 {
  grid-area: item-4;
}
.recent-tours-content .recent-tour-5 {
  grid-area: item-5;
}
.recent-tours-content .recent-tour-6 {
  grid-area: item-6;
}
@media (max-width: 992px) {
  .recent-tours-content {
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;
  }
}
@media (max-width: 768px) {
  .recent-tours-content {
    padding: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "item-1  item-1  item-1" " item-2  item-3  item-4" " item-5  item-6  item-7";
  }
}
@media (max-width: 576px) {
  .recent-tours-content {
    padding: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "item-1  item-1 " " item-2  item-3  " " item-4  item-5  " "item-6 item-7";
  }
}
.recent-tours-content .recent-tour-featured {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 576px) {
  .recent-tours-content .recent-tour-featured {
    flex-direction: column;
  }
  .recent-tours-content .recent-tour-featured img {
    height: 10rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.recent-tours-content .recent-tour-featured .recent-tour-thumbnail {
  flex-basis: 55%;
}
.recent-tours-content .recent-tour-featured .recent-tour-thumbnail img {
  height: 100%;
}
.recent-tours-content .recent-tour-featured .recent-tour-content {
  flex-basis: 45%;
  text-align: center;
  justify-content: space-between;
}
.recent-tours-content .recent-tour-featured .recent-tour-content .tour-meta {
  margin-top: 0 !important;
  font-size: 1.5rem;
}
.recent-tours-content .recent-tour-featured .recent-tour-content .tour-meta .tour-comment {
  font-size: 1.5rem;
}
.recent-tours-content .recent-tour-featured .recent-tour-content .tour-title {
  font-size: 2.4rem !important;
  padding: 2rem;
}
.recent-tours-content .recent-tour-featured .recent-tour-content p {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: rgb(227, 218, 218);
  flex-wrap: wrap;
}
.recent-tours .recent-tour {
  background-color: rgb(42, 42, 72);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.recent-tours .recent-tour-thumbnail {
  overflow: hidden;
  position: relative;
}
.recent-tours .recent-tour-thumbnail img {
  width: 100%;
  transition: all 0.5s;
}
.recent-tours .recent-tour-thumbnail::after {
  left: 0;
  top: 0;
  position: absolute;
  content: "";
  background-color: rgba(46, 61, 100, 0.5);
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.recent-tours .recent-tour:hover .recent-tour-thumbnail::after, .recent-tours .recent-tour:focus .recent-tour-thumbnail::after {
  visibility: visible;
  opacity: 1;
}
.recent-tours .recent-tour:hover .recent-tour-thumbnail img, .recent-tours .recent-tour:focus .recent-tour-thumbnail img {
  transform: scale(1.2) rotate(3deg);
}
.recent-tours .recent-tour:hover .recent-tour-thumbnail .rating, .recent-tours .recent-tour:focus .recent-tour-thumbnail .rating {
  opacity: 1;
  transition: all 0.5s;
}
.recent-tours .recent-tour-content {
  padding: 2rem;
}
.recent-tours .recent-tour-content .tour-title {
  font-size: 1.8rem;
  margin-bottom: 1.3rem;
  color: rgb(234, 231, 231);
  letter-spacing: 0.1;
  transition: all 0.5s;
}
.recent-tours .recent-tour-content .tour-title:hover {
  color: #99a9b4;
}
.recent-tours .recent-tour-content .tour-meta {
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  margin-top: 2rem;
}
.recent-tours .recent-tour-content .tour-meta .tour-date {
  color: #ff6b6b;
  font-family: "Concert One", sans-serif;
}
.recent-tours .recent-tour-content .tour-meta .tour-comment {
  font-family: "Concert One", sans-serif;
  color: rgb(226, 242, 150);
  font-size: 1.3rem;
}

/**---------------- LAST-REVIEW------------------**/
.last-reviewed {
  height: auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0;
  background-color: rgb(42, 42, 72);
}
@media (max-width: 768px) {
  .last-reviewed {
    flex-basis: 100%;
  }
}
.last-reviewed-detail {
  flex-basis: 50%;
}
@media (max-width: 992px) {
  .last-reviewed-detail {
    flex-basis: 50%;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .last-reviewed-detail {
    flex-basis: 100%;
  }
}
@media (max-width: 576px) {
  .last-reviewed-detail {
    flex-basis: 100%;
  }
}
.last-reviewed-image {
  width: auto;
  flex-basis: 50%;
  background-image: linear-gradient(to right bottom, #1e2940, rgba(42, 42, 72, 0.1)), url(../img/7.jpg);
  background-size: cover;
  height: auto;
  -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}
@media (max-width: 992px) {
  .last-reviewed-image {
    flex-basis: 50%;
    background-position: center;
    -webkit-clip-path: none;
            clip-path: none;
    background-position: center center;
  }
}
@media (max-width: 768px) {
  .last-reviewed-image {
    flex-basis: 0%;
  }
}

/**---------------- GALLERY ------------------**/
.section-title {
  text-align: center;
  margin-bottom: 1.5rem;
}
.section-title .text-primary {
  color: rgb(42, 42, 72);
  font-weight: bold;
}

.masonary {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 20rem);
  grid-gap: 0.3rem;
}
@media (max-width: 768px) {
  .masonary {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    padding: 2rem;
  }
}
@media (max-width: 576px) {
  .masonary {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    padding: 1rem;
  }
}
.masonary-item {
  position: relative;
  background-color: rgb(7, 7, 7);
  cursor: pointer;
}
.masonary-item-1 {
  grid-row: 1;
  grid-column: 1;
  border-radius: 25px 0 0 0;
}
.masonary-item-1 img {
  border-radius: 25px 0 0 0;
}
@media (max-width: 576px) {
  .masonary-item-1 {
    border-radius: o;
  }
  .masonary-item-1:hover {
    border-radius: 0;
  }
  .masonary-item-1 img {
    border-radius: 0;
  }
}
.masonary-item-2 {
  grid-row: 1/span 2;
  grid-column: 2;
}
@media (max-width: 768px) {
  .masonary-item-2 {
    grid-row: 1;
    grid-column: 2;
  }
}
.masonary-item-3 {
  grid-row: 1;
  grid-column: 3/span 2;
  border-radius: 0px 25px 0 0;
}
.masonary-item-3 img {
  border-radius: 0px 25px 0 0;
}
@media (max-width: 768px) {
  .masonary-item-3 {
    grid-row: 1;
    grid-column: 3;
  }
}
@media (max-width: 576px) {
  .masonary-item-3 {
    grid-row: 2;
    grid-column: 1;
    border-radius: o;
  }
  .masonary-item-3:hover {
    border-radius: 0;
  }
  .masonary-item-3 img {
    border-radius: 0;
  }
}
.masonary-item-4 {
  grid-row: 2;
  grid-column: 1;
}
@media (max-width: 576px) {
  .masonary-item-4 {
    grid-row: 2;
    grid-column: 2;
  }
}
.masonary-item-5 {
  grid-row: 2;
  grid-column: 3;
}
@media (max-width: 768px) {
  .masonary-item-5 {
    grid-row: 2;
    grid-column: 2;
  }
}
@media (max-width: 576px) {
  .masonary-item-5 {
    grid-row: 3;
    grid-column: 1;
  }
}
.masonary-item-6 {
  grid-row: 2/span 2;
  grid-column: 4;
  border-radius: 0 0 25px 0;
}
.masonary-item-6 img {
  border-radius: 0 0 25px 0;
}
@media (max-width: 768px) {
  .masonary-item-6 {
    grid-row: 2;
    grid-column: 3;
  }
  .masonary-item-6 .masonary-image {
    border-radius: 0;
  }
}
@media (max-width: 576px) {
  .masonary-item-6 {
    grid-row: 3;
    grid-column: 2;
  }
  .masonary-item-6:hover {
    border-radius: 0;
  }
  .masonary-item-6 img {
    border-radius: 0;
  }
}
.masonary-item-7 {
  grid-row: 3;
  grid-column: 1;
  border-radius: 0 0 0 25px;
}
.masonary-item-7 img {
  border-radius: 0 0 0 25px;
}
@media (max-width: 576px) {
  .masonary-item-7 {
    grid-row: 4;
    grid-column: 1;
    border-radius: o;
    height: 200px;
  }
  .masonary-item-7:hover {
    border-radius: 0;
  }
  .masonary-item-7 img {
    border-radius: 0;
  }
}
.masonary-item-8 {
  grid-row: 3;
  grid-column: 2/span 2;
}
@media (max-width: 768px) {
  .masonary-item-8 {
    grid-row: 3;
    grid-column: 2/span 2;
    border-radius: 0 0 25px 0;
  }
  .masonary-item-8 img {
    border-radius: 0 0 25px 0;
  }
}
@media (max-width: 576px) {
  .masonary-item-8 {
    grid-row: 4;
    grid-column: 2;
  }
  .masonary-item-8:hover {
    border-radius: 0;
  }
  .masonary-item-8 img {
    border-radius: 0;
  }
}
.masonary-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.masonary-item:hover .masonary-image {
  opacity: 0.5;
  transition: all 1s;
}

.masonary-item:hover .middle {
  opacity: 1;
}

.text {
  font-family: "Concert One", sans-serif;
  color: rgb(253, 253, 253);
  font-size: 2rem;
  padding: 16px 32px;
  text-transform: uppercase;
}

.showcase {
  background-color: rgb(42, 42, 72);
  padding: 5rem 0;
}
.showcase-content {
  display: flex;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .showcase-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 25rem);
  }
}
@media (max-width: 992px) {
  .showcase-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 21rem);
  }
}
@media (max-width: 768px) {
  .showcase-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 16rem);
  }
}
@media (max-width: 576px) {
  .showcase-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 11rem);
  }
}
@media (max-width: 576px) {
  .showcase-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 14rem);
  }
}
.showcase-content .showcase-item {
  position: relative;
  transition: all 0.5s;
}
.showcase-content .showcase-item:hover {
  position: relative;
  transform: scale(1.1);
}
@media (max-width: 1200px) {
  .showcase-content .showcase-item:hover {
    transform: scale(1);
    border-radius: 0;
  }
}
.showcase-content .showcase-item:hover .item-image img {
  transition: all 0.5s;
  height: 100%;
  width: 100%;
}
@media (max-width: 1200px) {
  .showcase-content .showcase-item:hover .item-image img {
    border-radius: 0;
    height: auto;
  }
}
.showcase-content .showcase-item:hover .item-image::before,
.showcase-content .showcase-item:hover .item-content h3,
.showcase-content .showcase-item:hover .item-content i,
.showcase-content .showcase-item:hover .item-content p {
  opacity: 1;
}
.showcase-content .showcase-item:hover .item-content h3,
.showcase-content .showcase-item:hover .item-content p {
  transform: translateY(0);
}
.showcase-content .showcase-item .item-image::before {
  transition: all 0.5s;
  content: "";
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 42, 72, 0.6);
  opacity: 0;
}
@media (max-width: 1200px) {
  .showcase-content .showcase-item .item-image::before {
    border-radius: 0;
  }
}
.showcase-content .showcase-item .item-image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.showcase-content .showcase-item .item-content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.showcase-content .showcase-item .item-content h3 {
  color: #eff294;
  font-size: 3rem;
  font-family: "Concert One", sans-serif;
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(-5rem);
}
@media (max-width: 768px) {
  .showcase-content .showcase-item .item-content h3 {
    font-size: 2.5rem;
  }
}
.showcase-content .showcase-item .item-content i {
  font-size: 5rem;
  margin: 1rem;
  opacity: 0;
  transition: all 0.5s;
}
.showcase-content .showcase-item .item-content i:hover {
  color: rgb(42, 42, 72);
}
@media (max-width: 768px) {
  .showcase-content .showcase-item .item-content i {
    font-size: 3.5rem;
  }
}
.showcase-content .showcase-item .item-content p {
  font-size: 1.6rem;
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(5rem);
  color: rgb(255, 255, 255);
}

.team-members {
  display: flex;
  padding: 0 2rem;
}
.team-members .team-member {
  width: 100%;
  height: 100%;
}
.team-members .team-member:first-child {
  margin-right: 5rem;
}
@media (max-width: 992px) {
  .team-members .team-member:first-child {
    margin-right: 4rem;
  }
}
@media (max-width: 768px) {
  .team-members .team-member:first-child {
    margin-right: 3rem;
  }
}
@media (max-width: 576px) {
  .team-members .team-member:first-child {
    margin-right: 2rem;
  }
}
.team-members .team-member:last-child {
  margin-left: 5rem;
}
@media (max-width: 992px) {
  .team-members .team-member:last-child {
    margin-left: 4rem;
  }
}
@media (max-width: 768px) {
  .team-members .team-member:last-child {
    margin-left: 3rem;
  }
}
@media (max-width: 576px) {
  .team-members .team-member:last-child {
    margin-left: 2rem;
  }
}

.contact {
  background-image: radial-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%), url("../img/contact.jpg");
  background-size: cover;
  min-height: 90vh;
}
.contact .text-primary {
  color: #6a9acc;
  font-family: "Teko", sans-serif;
  color: rgb(219, 214, 214);
}
.contact-content {
  display: flex;
  margin-top: 4rem;
  text-align: center;
}
@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
  }
}
.contact-content-detail {
  margin: auto;
  background-color: rgba(42, 42, 72, 0.7);
  flex: 1;
  max-height: 40rem;
  margin-right: -5rem;
  z-index: 2;
  align-items: center;
  display: flex;
  padding: 4rem;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  .contact-content-detail {
    min-height: 30rem;
    width: 90%;
    margin-right: auto;
  }
}
.contact-content-detail h3 {
  color: #6a9acc;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  font-family: "Teko", sans-serif;
  letter-spacing: 0.3rem;
}
.contact-content-detail ul li {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.contact-content-detail ul li i {
  margin-right: 2rem;
}
.contact-content-detail ul li p {
  font-size: 1.8rem;
  color: #e4d8d8;
}
.contact-content-form {
  background-color: rgba(0, 0, 0, 0.5);
  flex: 2;
  min-height: 50rem;
  display: flex;
  text-align: center;
}
@media (max-width: 768px) {
  .contact-content-form {
    min-height: 40rem;
    width: 90%;
    margin: auto;
  }
}
.contact-content-form form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  color: black;
}
.contact-content-form form input,
.contact-content-form form textarea {
  width: 60%;
  padding: 1rem;
  margin-block-start: 3rem;
  text-align: center;
  color: #ffffff;
  border: none;
}
.contact-content-form form input:focus::-moz-placeholder, .contact-content-form form textarea:focus::-moz-placeholder {
  color: transparent;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.contact-content-form form input:focus::placeholder,
.contact-content-form form textarea:focus::placeholder {
  color: transparent;
  transition: all 0.5s;
}
.contact-content-form form input:focus,
.contact-content-form form textarea:focus {
  outline: none;
  border-bottom: 1px solid #e6dcd9;
}
.contact-content-form form :not(:last-child) {
  background-color: transparent;
  border-bottom: 1px solid #6a9acc;
}
.contact-content-form form input[value=SEND] {
  font-weight: bold;
}
.contact-content-form form input[value=SEND]:hover {
  color: rgb(42, 42, 72);
  font-weight: bold;
}
.contact-content-form form input[type=submit] {
  cursor: pointer;
  background-color: rgb(42, 42, 72);
  transition: all 0.5s;
}
.contact-content-form form input[type=submit]:hover {
  background-color: #e6dcd9;
  border-radius: 20px;
}

footer {
  background-color: rgb(42, 42, 72);
  min-height: 6rem;
  font-family: "Teko", sans-serif;
}
footer .container {
  display: flex;
  align-items: center;
  height: 100%;
}
@media (max-width: 768px) {
  footer .container {
    flex-direction: column-reverse;
  }
}
footer .container .copyright {
  flex: 1;
  height: 100%;
}
footer .container .copyright p {
  line-height: 6rem;
  font-size: 2.8rem;
  color: rgb(224, 208, 208);
}
@media (max-width: 768px) {
  footer .container .copyright p {
    line-height: 4rem;
    font-size: 2.4rem;
  }
}
footer .container .down-social-link {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .container .down-social-link .dc,
footer .container .down-social-link .tw,
footer .container .down-social-link .yt {
  line-height: 6rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-family: "Tilt Neon", sans-serif;
  font-weight: bold;
}
@media (max-width: 768px) {
  footer .container .down-social-link .dc,
  footer .container .down-social-link .tw,
  footer .container .down-social-link .yt {
    line-height: 4rem;
    font-size: 2.4rem;
  }
}
footer .container .down-social-link .dc {
  background-color: #4b5496;
}
footer .container .down-social-link .yt {
  background-color: #d92424;
}
footer .container .down-social-link .tw {
  background-color: #6799ed;
}/*# sourceMappingURL=styless.css.map */